*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.courseContent{
    display:flex;
    justify-content: space-between;
}
/* Navigation */
#logo img{
    height:90px;
    width:90px;
    object-fit:contain;
}
#account{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#account div{
    width:auto;
    margin:auto;
}
#account div .accPic{
    border:2px solid #fff;
    border-radius:50%;
    height:50px;
    width:50px;
}
.nav{
    height:100vh;
    padding:5px;
    background-color:#23344b;
    text-align:center;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
}
.nav div{
    height:90px;
}
.nav div a{
    color:#fff;
    text-decoration: none;
}
.modules{
    height:auto;
    flex:7;
    margin-left:120px;
}
.to_do{
    height:auto;
    flex:2;
}
/* Dashboard */
.dashboard{
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:10px;
    margin:auto;
    color:rgb(107, 104, 104);
    border-bottom: 1px solid rgb(88, 87, 87);
}
.hdashboard h2{
    font-size:2em;
    font-weight:lighter;
}
.dots{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin-right:20px;
}
.dots div{
    height:5px;
    width:5px;
    margin:2px;
    border:1px solid rgb(75, 72, 72);
    border-radius:50%;
    background-color:rgb(75, 72, 72);
}
/* Module cards */
.cards{
    border:1px solid #e8e2db;
    border-radius:4px;
}
.cards:hover{
    box-shadow: 2px 2px 5px 2px rgb(58, 55, 55);
    transition: 1s ease-in-out;
}
.module-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:15em 15em 15em;
    grid-gap:20px;
    padding:10px;
}
.module1{
    grid-column: 1/span 1;
    grid-row: 1 span 1;
}
.module2{
    grid-column:2/span 1;
    grid-row:1/span 1;
}
.module3{
    grid-column:3/span 1;
    grid-row:1/span 1;
}
.module4{
    grid-column:1/span 1;
    grid-row:2/span 1;
}
.module5{
    grid-column:2/span 1;
    grid-row:2/span 1;
}
.module6{
    grid-column:3/span 1;
    grid-row:2/span 1;
}
.module7{
    grid-column:1/span 1;
    grid-row:3/span 1;
}
.module8{
    grid-column:2/span 1;
    grid-row:3/span 1;
}
.module1 .color1{
    height:60%;
    background-color:#3a4750;
    width:100%;
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    border:transparent;
    padding:10px;
    display:flex;
    justify-content: flex-end;
}
.color1 .dot-wrapper div{
    height:5px;
    width:5px;
    margin:2px;
    border:1px solid #fff;
    border-radius:50%;
    background-color:#fff; 
}
.dot-wrapper{
    width:20px;
    height:20px;
    text-align:center;
}